div{
    background-image: url("https://images.unsplash.com/photo-1710780953043-4dc3f98d2d50?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
    /* filter: blur(10px);
    filter: brightness(1.5); */
    /* filter: contrast(); */
    /* filter: grayscale(); */
}