.px{
    width: 150px;
    height: 50px;
    background-color: blueviolet;
}

.em{
    font-size: 1.5em;
}

.rem{
    font-size: 1.9rem;
}

.vw{
    width: 50vw;
    height: 50vh;
    background-color: khaki;
}